<div id="modal-form">
  <ng-container *ngIf="KidData?.expenses?.length>0;else noExpenses">
    <div class="form-content">
      <div>
        <ng-container *ngFor="let item of KidData?.expenses">
          <div class="d-flex justify-content-between gap-2 mb-3 pb-2 border-bottom">
            <div class="d-flex align-items-center gap-3">
              <p class="mb-0 text-capitalize">
                {{item?.title[currentLanguage] || ''}}
              </p>
              <p class="mb-0">
                {{item?.total || 0}}
              </p>
            </div>
            <div>
              <p-checkbox [(ngModel)]="item.checked" [binary]="true" (onChange)="onChangeItem(item)"></p-checkbox>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="selectedExpenses?.length>0">
        <h5 class="text-center mb-0 fw-bold fs-5-1">
          {{'general.totalSelectedExpenses'|translate}}
        </h5>
        <hr>
        <div class="row m-0">
          <table class="pricing-table">
            <thead>
              <tr class="pricing-table-header">
                <th>
                  {{'general.title' | translate}}
                </th>
                <th>
                  {{'general.price' | translate}}
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of selectedExpenses">
                <tr class="pricing-table-list">
                  <td>
                    {{item?.title[currentLanguage] || ''}}
                  </td>
                  <td>
                    {{item?.total || 0}} <span class="px-1">{{'general.rsa'|translate}}</span>
                  </td>
                  <!-- <td><span class="fa fa-check"></span></td> -->
                </tr>
              </ng-container>
            </tbody>
            <tfoot>
              <tr class="pricing-table-footer">
                <td class="fw-bold">
                  {{'general.total' | translate}}
                </td>
                <td class="fw-bold">
                  {{ totalExpenses() }}<span class="px-1">{{'general.rsa'|translate}}</span>
                  <!-- Dynamically calculated total expenses -->
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noExpenses>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <app-dynamic-svg [name]="'noExpenses'"></app-dynamic-svg>
      <p class="text-center mt-3">
        {{'general.noExpensesAdded'|translate}}
      </p>
    </div>
  </ng-template>

  <div class="d-flex justify-content-end gap-3 flex-wrap mt-4">
    <button type="button" class="btn btn-solid-main d-flex align-items-center justify-content-center gap-2"
      *ngIf="KidData?.expenses?.length>0" (click)="payNow(KidData?.expenses)">
      <span>
        {{'general.submitRequest'|translate}}
      </span>
      <i class="pi pi-money-bill"></i>
    </button>
    <button type="button" class="btn btn-outline-main d-flex align-items-center gap-2" (click)="cancel()">
      <span>
        {{'general.cancel'|translate}}
      </span>
      <i class="pi pi-times"></i>
    </button>
  </div>
</div>