#school-details {
  .btn {
    height: 2.9rem;
    padding: 1rem;
    border-radius: 10px;
  }
  .btn-solid-main {
    background-color: var(--bg-main-color);
    border: 1px solid var(--bg-main-color);
    color: var(--text-white-color);
  }
  .btn-outline-main {
    background-color: transparent;
    border: 1px solid var(--bg-main-color);
    color: var(--text-main-color);
  }
  .data-style {
    background: #ffffffb2;
    border: 1px solid #8c95a336;
    border-radius: 10px;
    height: 2.9rem;
    a {
      border-radius: 5px;
      color: #5f5f5f66;
      padding: 0.3rem 0.5rem;
      &.active {
        background: #d9d9d942;
        color: #111;
      }
    }
  }
  .header {
    padding: 0.8rem;
  }
  .prevent-click {
    pointer-events: none;
  }
  .ways {
    min-height: 3.5rem !important;
    height: auto !important;
  }
  .chid {
    background-color: #fff;
    border-radius: 6px;
    padding: 2px 6px;
  }
  .organization-image {
    width: 7.5rem;
    min-width: 7.5rem;
    height: 6.5rem;
    img {
      border-radius: 10px;
    }
  }
}
:host::ng-deep {
  #school-details {
    .form-control,
    .p-calendar-w-btn .p-inputtext,
    .date-picker.p-calendar .p-datepicker-trigger {
      background-color: #eee;
      pointer-events: none;
    }
  }
}
