<div id="kids">
  <div class="">
    <div class="d-flex flex-wrap justify-content-between align-items-center gap-3 px-4">
      <div>
        <h4 class="mb-0 text-capitalize">
          {{'dashboard.sideMenu.myExpenses'|translate}}
        </h4>
        <p class="mt-2 text-muted-color d-flex gap-1">
          {{'dashboard.total'|translate}}
          <span>
            {{myExpensesCount}}
          </span>
        </p>
      </div>
      <!-- <div>
          <form [formGroup]="filterForm" aria-label="filter-kid-form">
            <div class="form-content">
              <span class="p-input-icon-right select-loading d-block"
                [class.border-red]="formControls?.status?.invalid && (formControls?.status?.dirty || formControls?.status?.touched)">
                <p-dropdown [options]="statusesList" formControlName="status" optionLabel="name" [filter]="true"
                  [dropdownIcon]="'fas fa-caret-down'" [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="name"
                  appendTo="body" [filterPlaceholder]="'placeholders.search'|translate"
                  [readonly]="isLoadingStatuses ||isLoadingMyExpenseList" scrollHeight="200px"
                  emptyMessage="{{'general.no_result_found'|translate}}" [showClear]="true"
                  placeholder="{{'placeholders.status'|translate}}" (onChange)="onStatusSelected($event)">
                </p-dropdown>

                <ng-container *ngIf="isLoadingStatuses">
                  <i class="pi pi-spin pi-spinner"></i>
                </ng-container>
              </span>
            </div>
          </form>
        </div> -->
    </div>
    <div
      class="d-flex justify-content-sm-between justify-content-center align-items-center flex-wrap gap-3 px-4 mt-4 table-caption py-3">
      <!-- Search Handler -->
      <div [class.disabled-actions]="isLoadingMyExpenseList" class="search" role="search">
        <div class="input-group bg-white-color d-flex flex-nowrap">
          <span class="input-group-text border-0" id="basic-addon1">
            <i class="pi pi-search text-muted-color"></i>
          </span>
          <span class="p-input-icon-right d-inline-block w-100">
            <i *ngIf="isLoadingSearch" class="pi pi-spin pi-spinner"></i>
            <i *ngIf="!isLoadingSearch&&search.value" class="pi pi-times text-danger pointer"
              (click)="clearSearch(search)"></i>
            <input type="text" class="form-control border-0 bg-transparent px-1" #search [(ngModel)]="searchKeyword"
              (keyup)="handleSearch(search.value)" placeholder="{{'placeholders.search' | translate}}"
              [readOnly]="isLoadingSearch" aria-label="search" aria-describedby="basic-addon1">
          </span>
        </div>
      </div>
      <div class="d-flex gap-3 flex-lg-nowrap flex-wrap justify-content-sm-start justify-content-center"
        *ngIf="MyExpenseList.length>0|| ifFilteration()">
        <!-- Add Kid -->
        <button class="btn btn-solid-main d-flex align-items-center gap-2 text-nowrap" (click)="addMyExpense()">
          <i class="pi pi-plus"></i>
          <span>{{'dashboard.tuitionExpenses.addMyExpense'|translate}}</span>
        </button>
        <!-- Filter Button -->
        <div [class.d-none]="dataStyleType=='list'">
          <button [class.disabled-actions]="isLoadingMyExpenseList" *ngIf="MyExpenseList?.length>0|| ifFilteration()"
            class="btn btn-solid-main d-md-flex d-none align-items-center gap-2" (click)="filterItemModal()">
            <i class="pi pi-filter"></i>
          </button>
        </div>
        <button [class.disabled-actions]="isLoadingMyExpenseList" *ngIf="MyExpenseList?.length>0 || ifFilteration()"
          class="btn btn-solid-main d-md-none d-flex align-items-center gap-2" (click)="filterItemModal()">
          <i class="pi pi-filter"></i>
        </button>
        <!-- Data style list 0or grid (table or card) -->
        <div [class.disabled-actions]="isLoadingMyExpenseList"
          class="data-style d-md-flex d-none align-items-center gap-2 p-2">
          <a class="scaleX-rtl" [class.active]="dataStyleType=='list'" (click)="changeDateStyle('list')">
            <app-dynamic-svg [name]="'list'"></app-dynamic-svg>
          </a>
          <a class="scaleX-rtl" [class.active]="dataStyleType=='grid'" (click)="changeDateStyle('grid')">
            <app-dynamic-svg [name]="'grid'"></app-dynamic-svg>
          </a>
        </div>
        <!-- Clear -->
        <button [class.disabled-actions]="isLoadingMyExpenseList"
          class="btn btn-outline-main d-flex align-items-center gap-2 text-nowrap" (click)="clearTable()">
          <i class="pi pi-refresh"></i>
          <span>{{'general.reset'|translate}}</span>
        </button>
      </div>
    </div>
    <div class="d-md-block d-none">
      <!-- Table -->
      <ng-container *ngIf="dataStyleType=='list'">
        <!-- Table List -->
        <dynamic-table-v2 [isLoading]="isLoadingMyExpenseList" [showHeader]="false" [showClear]="false"
          [showSearch]="false" [isLoadingSearch]="isLoadingSearch" [showActionsButtons]="true"
          (clearHandler)="enableSortFilter?clearTable():''" [tableHeaders]="tableHeaders" [tableData]="MyExpenseList"
          [enableDateFormate]="true" [dateFormateString]="'d MMMM y'" [showActions]="true" [showEdit]="true"
          [showDelete]="true" (deleteHandler)="deleteItem($event)" [showDetails]="false"
          (detailsHandler)="itemDetails($event)" (editHandler)="addEditItem($event,'edit')"
          (customSortHandler)="enableSortFilter?sortItems($event):''"
          (filterHandler)="enableSortFilter?filterItemsTable($event):''" [results]="myExpensesCount"
          [paginatorRows]="perPage" [pages]="pagesCount" (paginateHandler)="onPageChange($event)"
          [rowsPerPageOptions]="rowsOptions" [enableConfirmDeleteDialog]="true" [keyDelete]="'name'"
          (paginateOptionsHandler)="onPaginatorOptionsChange($event)" [isSearch]="isSearch" [arrayChildKey]="'name'"
          [addBtnText]="'dashboard.kids.addKid'" (addHandler)="addEditItem()"
          [notFoundImage]="'assets/images/not-found/no-user.svg'" [showActionItemBtn]="true"
          [actionButtonText]="'general.details'" (actionHandlerEmit)="showExpensesDetails($event)"></dynamic-table-v2>
      </ng-container>
      <!-- Card -->
      <ng-container *ngIf="dataStyleType=='grid'">
        <div class="container-fluid">
          <div class="row pt-4">
            <!-- Loading Cards -->
            <ng-container *ngIf="isLoadingMyExpenseList; else noLoadingCards">
              <skeleton type="usersList"></skeleton>
            </ng-container>

            <!-- Cards List -->
            <ng-template #noLoadingCards>
              <ng-container *ngIf="MyExpenseList.length>0; else noUsers">
                <ng-container *ngFor="let card of MyExpenseList; let i=index">
                  <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                    <!-- <kid-card [item]="card" (editItemHandler)="addEditItem($event,'edit')"></kid-card> -->
                  </div>
                </ng-container>
              </ng-container>
            </ng-template>
            <ng-container *ngIf="MyExpenseList?.length>0">
              <div class="d-flex justify-content-center my-3" [class.disabled]="isLoadingMyExpenseList">
                <p-paginator #paginator [rows]="perPage" [totalRecords]="myExpensesCount" [showPageLinks]="true"
                  [pageLinkSize]="3" (onPageChange)="onPageChange($event)"></p-paginator>
                <div class="d-flex align-items-center gap-3">
                  <p-dropdown [styleClass]="'paginator-options-dropdown'" [dropdownIcon]="'fas fa-caret-down'" #dropdown
                    [options]="rowsOptions" (onChange)="onPaginatorOptionsChange($event)" [(ngModel)]="perPage"
                    (onHide)="hide()"></p-dropdown>
                </div>
              </div>
            </ng-container>
          </div>
          <ng-template #noUsers>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <div>
                <img src="assets/images/not-found/no-data.svg" alt="no-data">
              </div>
              <p class="fw-500 mt-3">{{'general.no_records_found'|translate}}</p>
              <button (click)="addEditItem()"
                class="btn btn-solid-main d-flex justify-content-center align-items-center">{{'dashboard.kids.addKid'|translate}}</button>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </div>
    <!-- Show Cards in tablet and mobile -->
    <div class="d-md-none d-block">
      <div class="container-fluid">
        <div class="row pt-4">
          <!-- Loading Cards -->
          <ng-container *ngIf="isLoadingMyExpenseList; else noLoadingCards">
            <skeleton type="usersList"></skeleton>
          </ng-container>
          <!-- Cards List -->
          <ng-template #noLoadingCards>
            <ng-container *ngIf="MyExpenseList.length>0; else noUsers2">
              <ng-container *ngFor="let card of MyExpenseList; let i=index">
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                  <!-- <kid-card (editItemHandler)="addEditItem($event,'edit')" [item]="card"></kid-card> -->
                </div>
              </ng-container>
            </ng-container>
          </ng-template>
          <ng-container *ngIf="MyExpenseList?.length>0">
            <div class="d-flex justify-content-center my-3" [class.disabled]="isLoadingMyExpenseList">
              <p-paginator #paginator [rows]="perPage" [totalRecords]="myExpensesCount" [showPageLinks]="true"
                [pageLinkSize]="3" (onPageChange)="onPageChange($event)"></p-paginator>
              <div class="d-flex align-items-center gap-3">
                <p-dropdown [styleClass]="'paginator-options-dropdown'" [dropdownIcon]="'fas fa-caret-down'" #dropdown
                  [options]="rowsOptions" [(ngModel)]="perPage" (onChange)="onPaginatorOptionsChange($event)"
                  (onHide)="hide()"></p-dropdown>
              </div>
            </div>
          </ng-container>
        </div>
        <ng-template #noUsers2>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div>
              <img src="assets/images/not-found/no-data.svg" alt="no-data">
            </div>
            <p class="fw-500 mt-3">{{'general.no_records_found'|translate}}</p>
            <button (click)="addEditItem()"
              class="btn btn-solid-main d-flex justify-content-center align-items-center">{{'dashboard.kids.addKid'|translate}}</button>
          </div>
        </ng-template>
      </div>
    </div>

    <ng-container *ngIf="myExpensesCount">
      <div class="dash-global-footer px-4 d-flex align-items-center py-3">
        <p class="mb-0">
          <span>{{"dashboard.isTotal"|translate}}</span>
          <span class="mx-1 fw-bolder fs-5">{{myExpensesCount}}</span><span>{{"dashboard.users.users"|translate}}</span>
        </p>
      </div>
    </ng-container>
  </div>
</div>