#kid-card {
  hr {
    border-color: #8c95a32e;
  }
  .name {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }
  .badge-btn {
    border-radius: 11px;
    min-width: 5rem;
    height: 2.6rem;
    border: none;
    padding: 0.9rem;
    background-color: #00377e21;
    color: var(--text-main-color);
  }
  .badge-danger {
    background: #e5555530;
    color: #e55555;
  }
  .kid-image {
    width: 6.5rem;
    min-width: 6.5rem;
    height: 6.5rem;
    img {
      border-radius: 10px;
    }
  }
}
.btn-solid-main {
  background-color: var(--bg-main-color) !important;
  border: 1px solid var(--bg-main-color) !important;
  color: var(--text-white-color) !important;
}

.btn-outline-main {
  background-color: transparent !important;
  border: 1px solid var(--bg-main-color) !important;
  color: var(--text-main-color) !important;
}
