<!-- {{expenseDetails | json}} -->
<div id="expenses-details" class="pb-4">
  <div class="container-fluid">
    <div>
      <a class="d-flex gap-3 align-items-center text-main-color fw-500"
        [routerLink]="['/Dashboard/Parent/myExpenses/List']">
        <i class="pi pi-arrow-left scaleX-rtl"></i>
        <span>
          {{'dashboard.kids.details.allExpenses'|translate}}
        </span>
      </a>
      <h3 class="mt-2 fw-bold">
        {{'dashboard.kids.details.expensesDetails'|translate}}
      </h3>
    </div>
    <ng-container *ngIf="isLoadingExpenseDetails; else noLoading">
      <skeleton [type]="'expenses-details'"></skeleton>

    </ng-container>
    <ng-template #noLoading>
      <div class="row mt-4">
        <div class="col-lg-6">
          <div class="global-card p-4" *ngIf="expenseDetails.kids">
            <h5 class="fw-bold fs-5-1">
              {{'dashboard.kids.details.KidsInfo'|translate}}
            </h5>
            <div>
              <div class="d-flex gap-3 mt-4">
                <img [src]="expenseDetails.kids.image_path" class="rounded-circle" width="50" height="50"
                  alt="Provider-img" onerror="src='assets/images/not-found/no-img.webp'">
                <div class="">
                  <h3 class="fs-8 fw-normal text-muted-color mb-1">
                    {{'dashboard.kids.details.kid'|translate}}
                  </h3>
                  <div class="d-flex gap-xl-3 gap-lg-2 gap-md-3 gap-2 flex-wrap">
                    <p class="mb-0 text-dark-color small fw-500 fs-6">
                      {{expenseDetails.kids?.name}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="d-flex gap-3 mt-4">
                <div class="second-icon d-flex justify-content-center align-items-center rounded-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="25"
                    height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
                    <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
                  </svg>
                </div>
                <div class="">
                  <h3 class="fs-8 fw-normal text-muted-color mb-1">
                    {{'dashboard.kids.details.class'|translate}}
                  </h3>
                  <p class="mb-0 text-dark-color small fw-500 fs-6">
                    {{expenseDetails?.kids?.class}}
                  </p>
                </div>
              </div>
              <div class="d-flex gap-3 mt-4">
                <div class="second-icon d-flex justify-content-center align-items-center rounded-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="23"
                    height="23" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
                      stroke-width="0" fill="currentColor" />
                  </svg>
                </div>
                <div class="">
                  <h3 class="fs-8 fw-normal text-muted-color mb-1">
                    {{'dashboard.kids.details.address'|translate}}
                  </h3>
                  <p class="mb-0 text-dark-color small fw-500 fs-6">
                    {{expenseDetails.kids?.address}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="global-card p-4 mt-4" *ngIf="expenseDetails.parents">
            <h5 class="fw-bold fs-5-1">
              {{'dashboard.kids.details.parentsInfo'|translate}}
            </h5>
            <div class="body mt-4">
              <div class="d-flex align-items-center gap-3">
                <div class="">
                  <p class="mb-1 text-muted-color small text-capitalize">
                    {{'dashboard.kids.details.parent'|translate}}
                  </p>
                  <h2 class="fs-6 text-dark-color fw-bold mb-0">
                    {{expenseDetails?.parents?.name||'---'}}
                  </h2>
                </div>
              </div>
              <div class="mt-4">
                <div class="content-body d-flex align-items-center gap-5">
                  <div class="">
                    <p class="text-muted-color mb-1 small text-capitalize">
                      {{'dashboard.kids.details.email'|translate}}
                    </p>
                    <span class="fw-500 small">{{expenseDetails?.parents?.email}}</span>
                  </div>
                  <div class="">
                    <p class="text-muted-color mb-1 small text-capitalize">
                      {{'dashboard.kids.details.phone'|translate}}
                    </p>
                    <span class="fw-500 small">
                      {{expenseDetails?.parents?.phone}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="global-card p-4 mt-4" *ngIf="expenseDetails.banks">
            <h5 class="fw-bold fs-5-1">
              {{'dashboard.kids.details.banksInfo'|translate}}
            </h5>
            <div>
              <div class="d-flex gap-3 mt-4">
                <img [src]="expenseDetails.banks.image_path" class="rounded-circle" width="50" height="50"
                  alt="Provider-img" onerror="src='assets/images/not-found/no-img.webp'">
                <div class="">
                  <h3 class="fs-8 fw-normal text-muted-color mb-1">
                    {{'dashboard.kids.details.bank'|translate}}
                  </h3>
                  <div class="d-flex gap-xl-3 gap-lg-2 gap-md-3 gap-2 flex-wrap">
                    <p class="mb-0 text-dark-color small fw-500 fs-6">
                      {{expenseDetails.banks?.bankName||'----'}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="d-flex gap-3 mt-4">
                <div class="second-icon d-flex justify-content-center align-items-center rounded-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="23"
                    height="23" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
                      stroke-width="0" fill="currentColor" />
                  </svg>
                </div>
                <div class="">
                  <h3 class="fs-8 fw-normal text-muted-color mb-1">
                    {{'dashboard.kids.details.location'|translate}}
                  </h3>
                  <p class="mb-0 text-dark-color small fw-500 fs-6">
                    {{expenseDetails.banks?.location[currentLanguage]||'---'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="global-card py-4 mt-lg-0 mt-4" *ngIf="expenseDetails.installment_status_details.length>0">
            <h5 class="fw-bold fs-5-1 px-4">
              {{'dashboard.kids.details.installmentWay'|translate}}
            </h5>
            <div class="px-3">
              <div class="all-status px-2">
                <ng-container *ngFor="let action of expenseDetails.installment_status_details">
                  <div class="item d-flex gap-3 mt-4">
                    <div
                      class="position-relative status-icon rounded-circle status-{{action.paid_status}} d-flex justify-content-center align-items-center ">
                      <i class="pi pi-info-circle"></i>
                    </div>
                    <div class="w-100">
                      <div class="d-flex align-items-center justify-content-between w-100 flex-wrap">
                        <h3 class="fs-6 fw-bold text-dark-color mb-0">
                          {{action.month}}
                        </h3>
                        <ng-container *ngIf="true">
                          <span class="text-muted-color fw-500 fs-8">
                            <!-- {{action?.creationDate | timeZone : 'D MMM YYYY h:mm A'}} -->
                            17 May 2024 7:57 PM </span>
                        </ng-container>
                      </div>
                      <p class="mb-0 text-main-color fs-8 fw-normal mt-0">
                        {{action.paid_status}}
                      </p>
                      <p class="text-dark-color mt-2 mb-0 fw-normal fs-8">
                        <!-- {{action?.notes}} -->
                        <!-- notes -->
                        17 May 2024 7:57 PM
                      </p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="global-card p-4" [class.mt-4]="expenseDetails.installment_status_details.length>0"
            *ngIf="expenseDetails.organizations">
            <h5 class="fw-bold fs-5-1">
              {{'dashboard.kids.details.organizationInfo'|translate}}
            </h5>
            <div>
              <div class="d-flex gap-3 mt-4">
                <img *ngIf="expenseDetails.organizations.image_path" [src]="expenseDetails.organizations.image_path"
                  class="rounded-circle" width="50" height="50" alt="Provider-img"
                  onerror="src='assets/images/not-found/no-img.webp'">
                <div class="">
                  <h3 class="fs-8 fw-normal text-muted-color mb-1">
                    {{'dashboard.kids.details.school'|translate}}
                  </h3>
                  <div class="d-flex gap-xl-3 gap-lg-2 gap-md-3 gap-2 flex-wrap">
                    <p class="mb-0 text-dark-color small fw-500 fs-6">
                      {{getName(expenseDetails.organizations?.name.en)[currentLanguage]||'----'}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="d-flex gap-3 mt-4">
                <div class="second-icon d-flex justify-content-center align-items-center rounded-circle">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="23"
                    height="23" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
                      stroke-width="0" fill="currentColor" />
                  </svg>
                </div>
                <div class="">
                  <h3 class="fs-8 fw-normal text-muted-color mb-1">
                    {{'dashboard.kids.details.location'|translate}}
                  </h3>
                  <p class="mb-0 text-dark-color small fw-500 fs-6">
                    {{expenseDetails.organizations?.location[currentLanguage]||'---'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>