#modal-form {
  .btn {
    height: 2.9rem;
    padding: 1rem;
    border-radius: 10px;
  }
  .btn-solid-main {
    background-color: var(--bg-main-color);
    border-color: var(--bg-main-color);
    color: var(--text-white-color);
  }
  .btn-outline-main {
    background-color: transparent;
    border-color: var(--bg-main-color);
    color: var(--text-main-color);
  }
  .form-content {
    max-height: 63vh;
    overflow: auto;
  }
}
.pricing-table {
  thead {
    background: var(--bg-main-color) !important;
    color: var(--bg-white-color) !important;
  }

  tr {
    font-weight: 500 !important;
  }

  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    padding: 0.5rem !important;
  }

  td {
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
  }

  tfoot {
    td {
      background-color: #d3ebff66 !important;
    }
  }
}
