<div id="statistics">
  <div class="container-fluid pb-4">
    <div class="profile d-flex align-items-center justify-content-between gap-2">
      <div>
        <span class="mt-3 text-capitalize">{{'dashboard.statistics.congratulations'|translate}} <span class="px-1
            fw-bold">{{userData?.name||''}}</span>
        </span>
        <span class="mt-1">{{'dashboard.statistics.youHavePermission'|translate}}</span>
      </div>
      <button class="btn bg-white-color">{{'dashboard.statistics.viewProfile'|translate}}</button>
    </div>
    <div class="statistics row mt-3">
      <div class="col-lg-3 col-sm-6">
        <div class="kids statistic-card">
          <div class="d-flex gap-2 align-items-center">
            <div class="statistic-icon d-flex justify-content-center align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users-group" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
                <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                <path d="M17 10h2a2 2 0 0 1 2 2v1" />
                <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
              </svg>
            </div>
            <p class="mb-0 fw-500">
              {{'dashboard.kids.kids'|translate}}
            </p>
          </div>
          <strong class="mt-2 d-block fs-4-1">300</strong>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="banks statistic-card">
          <div class="d-flex gap-2 align-items-center">
            <div class="statistic-icon d-flex justify-content-center align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-bank" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 21l18 0" />
                <path d="M3 10l18 0" />
                <path d="M5 6l7 -3l7 3" />
                <path d="M4 10l0 11" />
                <path d="M20 10l0 11" />
                <path d="M8 14l0 3" />
                <path d="M12 14l0 3" />
                <path d="M16 14l0 3" />
              </svg>
            </div>
            <p class="mb-0 fw-500">
              {{'dashboard.banks.banks'|translate}}
            </p>
          </div>
          <strong class="mt-2 d-block fs-4-1">300</strong>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="schools statistic-card">
          <div class="d-flex gap-2 align-items-center">
            <div class="statistic-icon d-flex justify-content-center align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building" width="44"
                height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 21l18 0" />
                <path d="M9 8l1 0" />
                <path d="M9 12l1 0" />
                <path d="M9 16l1 0" />
                <path d="M14 8l1 0" />
                <path d="M14 12l1 0" />
                <path d="M14 16l1 0" />
                <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16" />
              </svg>
            </div>
            <p class="mb-0 fw-500">
              {{'dashboard.schools.schools'|translate}}
            </p>
          </div>
          <strong class="mt-2 d-block fs-4-1">300</strong>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="university statistic-card">
          <div class="d-flex gap-2 align-items-center">
            <div class="statistic-icon d-flex justify-content-center align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-skyscraper"
                width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 21l18 0" />
                <path d="M5 21v-14l8 -4v18" />
                <path d="M19 21v-10l-6 -4" />
                <path d="M9 9l0 .01" />
                <path d="M9 12l0 .01" />
                <path d="M9 15l0 .01" />
                <path d="M9 18l0 .01" />
              </svg>
            </div>
            <p class="mb-0 fw-500">
              {{'dashboard.universities.universities'|translate}}
            </p>
          </div>
          <strong class="mt-2 d-block fs-4-1">300</strong>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-7">
        <div class="global-card p-3 border-0">
          <h2 class="fs-5-1 fw-bold">
            {{'dashboard.statistics.interactiveBanks'|translate}}
          </h2>
          <div class="mt-4">
            <img src="assets/images/dashboard/statistics/3.svg" alt="statistics" class="w-100 statistic-img">
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="global-card h-100 p-3 border-0 mt-lg-0 mt-4">
          <h2 class="fs-5-1 fw-bold">
            {{'dashboard.statistics.interactiveBanks'|translate}}
          </h2>
          <div class="mt-3">
            <p-table [columns]="bankHeaders" [value]="banks" [scrollable]="true" scrollHeight="18rem">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header|translate}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
    <div class="global-card p-3 border-0 mt-4">
      <h2 class="fs-5-1 fw-bold mb-3">
        {{'dashboard.statistics.parents'|translate}}
      </h2>
      <p-table [columns]="parentHeaders" [value]="parents" [scrollable]="true" scrollHeight="18rem">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header|translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="global-card p-3 border-0 mt-4">
          <h2 class="fs-5-1 fw-bold mb-3">
            {{'dashboard.statistics.schools'|translate}}
          </h2>
          <p-table [columns]="schoolHeaders" [value]="schools" [scrollable]="true" scrollHeight="18rem">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header|translate}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="global-card p-3 border-0 mt-4">
          <h2 class="fs-5-1 fw-bold mb-3">
            {{'dashboard.statistics.universities'|translate}}
          </h2>
          <p-table [columns]="universitiesHeaders" [value]="universities" [scrollable]="true" scrollHeight="18rem">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header|translate}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <div class="row gy-4 d-none">
      <div class="col-lg-4 col-md-6">
        <div>
          <h1 class="fs-4-1 text-capitalize">{{'dashboard.statistics.hi'|translate}} ,
            <span class="px-1 text-main-color">{{userData?.name||''}}</span>
            <span>{{'dashboard.statistics.welcomeBack'|translate}}</span>
          </h1>
          <p class="mt-3">{{'dashboard.statistics.pageIsDesigned'|translate}}</p>
          <div class="mt-4">
            <img class="w-100" src="assets/images/dashboard/statistics/welcome-img.svg" alt="welcome">
          </div>
          <div
            class="bg-dark p-4 global-card d-flex justify-content-center align-items-center flex-column text-white-color text-center mt-4">
            <div class="star bg-white-color rounded-circle d-flex justify-content-center align-items-center">
              <i class="pi pi-star-fill text-dark-color"></i>
            </div>
            <h5 class="fs-5 mt-3 text-capitalize">{{'dashboard.statistics.congratulations'|translate}} <span
                class="px-1">{{userData?.name||''}}</span>
            </h5>
            <p class="mt-1">{{'dashboard.statistics.youHavePermission'|translate}}</p>

            <button class="btn bg-white-color mt-3">{{'dashboard.statistics.viewProfile'|translate}}</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="global-card p-3 border-0">
          <h2 class="fs-5-2">
            {{'dashboard.statistics.totalRevenue'|translate}}
          </h2>
          <div>
            <img src="assets/images/dashboard/statistics/1.svg" alt="statistics" class="w-100 statistic-img">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6">
            <div class="global-card p-3 border-0">
              <h2 class="fs-5-2">
                {{'dashboard.statistics.GoalVReality'|translate}}
              </h2>
              <div class="mt-4">
                <img src="assets/images/dashboard/statistics/2.svg" alt="statistics" class="w-100 statistic-img">
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-3">
            <div class="global-card p-3 border-0">
              <h2 class="fs-5-2">
                {{'dashboard.statistics.customerSatisfactio'|translate}}
              </h2>
              <div>
                <img src="assets/images/dashboard/statistics/3.svg" alt="statistics" class="w-100 statistic-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>