<div id="home-page">
  <!--========== Start Hero Section ================= -->
  <div id="hero-section" class="pt-hero">
    <div class="container mx-auto">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1 order-2 p-0">
          <p class="sub-title mt-2 mb-0">
            {{ 'home.hero.heroSubtitle' | translate }}
          </p>
          <h1 class="title w-content text-capitalize fw-bold">
            {{ 'home.hero.heroTitle' | translate }}
          </h1>
          <p class="description mt-2 w-75">
            {{ 'home.hero.heroDescription' | translate }}
          </p>
          <div class="d-flex justify-content-sm-start justify-content-center gap-3 mt-2 mt-xl-4 mt-md-3 mt-sm-3">
            <a href="https://apps.apple.com/us/app/%D8%AA%D9%84%D8%A8%D9%8A%D9%86%D8%A9-talbinah/id6464413895"
              target="_blank" rel="noopener noreferrer">
              <img src="assets/images/downloadsChannels/app-store.svg" width="160" height="48" class="apps-image" alt="app-store">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.talbinah.talbinah&pli=1"
              target="_blank" rel="noopener noreferrer">
              <img src="assets/images/downloadsChannels/google-play.svg" width="160" height="48" class="apps-image" alt="google-play">
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-9 col-11 m-lg-0 m-auto order-lg-2 order-1 mb-lg-0 mb-3 p-0">
          <div class="main-hero-image-container">
            <img src="assets/images/home/hero-image.svg" width="800" height="600" alt="hero-image" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--============= End Hero Section ================= -->
</div>