<nav class="navbar navbar-expand-lg position-fixed w-100 py-0">
  <div class="container px-0 h-100">
    <a class="navbar-brand m-0" href="/">
      <img
      src="assets/images/logo/logo.svg" 
      alt="logo" class="logo">
    </a>
    <button class="navbar-toggler border-0" type="button">
      <div class="menu-icon d-flex justify-content-between flex-column align-items-end">
        <span class="line"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    </button>
    <div class="collapse navbar-collapse m-auto">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 gap-3">
        <ng-container *ngFor="let link of navItems">
          <li class="nav-item mb-2 text-nowrap" *ngIf="!link.children">
            <a class="nav-link" href="{{link.route}}" [routerLink]="[link.route]" routerLinkActive="active-link"
              [title]="link.label">
              {{ link.label | translate }}
            </a>
          </li>
          <li class="nav-item dropdown" *ngIf="link.children">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="{{link.route}}" id="navbarDropdown" role="button"
              [routerLink]="[link.route]" data-bs-toggle="dropdown" aria-expanded="false">
              {{ link.label | translate }}
              <i class="pi pi-angle-down fs-8"></i>
            </a>
            <ul class="dropdown-menu border-0 shadow" aria-labelledby="navbarDropdown">
              <li *ngFor="let child of link.children; let i = index" [class.mb-1]="i < link.children.length - 1">
                <a class="dropdown-item" href="{{child.route}}" [routerLink]="[child.route]" routerLinkActive="active-link"
                  [title]="child.label">
                  {{ child.label | translate }}
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
      <div class="d-flex align-items-center gap-4 py-lg-0 py-3">
        <ng-container *ngIf="isUserLoggedIn; else elseNotLoggedIn">
          <!-- <app-user-info></app-user-info> -->
        </ng-container>
        <ng-template #elseNotLoggedIn>
          <div class="d-flex flex-row align-items-center gap-2 justify-content-center-small">
            <span class="nav-item">
              <button class="btn btn-solid-main w-auto text-nowrap py-2" (click)="collapse = false;login()"
                [routerLink]="['/Auth/Login']">
                <span class="d-flex align-items-center justify-content-center gap-2">
                  <i class="pi pi-sign-in"></i>
                  <span>
                    {{'titles.login' |translate}}
                  </span>
                </span>
              </button>
            </span>
            <span class="nav-item">
              <button class="btn btn-solid-main text-nowrap w-auto py-2" (click)="collapse = false"
                [routerLink]="['/Auth/Register']">
                <span class="d-flex align-items-center justify-content-center gap-2">
                  <i class="pi pi-user-plus"></i>
                  <span>
                    {{"titles.signUp"|translate}}
                  </span>
                </span>
              </button>
            </span>
          </div>
        </ng-template>
        <language-selector [isLight]="true"></language-selector>
      </div>
    </div>
  </div>
</nav>