.navbar {
  transition: all 0.5s ease;
  height: 80px;
  z-index: 888;
  font-family: "Almarai", sans-serif;

  &.headerScroll,
  &.headerBg {
    box-shadow: 0 0.125rem 0.25rem #bebebebd;
    backdrop-filter: blur(4px);
  }

  .logo {
    width: 96px;
    height: 34px;
  }

  .navbar-nav {
    .nav-link {
      color: var(--text-white-color);
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;

      &.active-link {
        color: var(--text-main-color);
        font-weight: bold;
      }
    }
  }

  .menu-icon {
    height: 26px;
    width: 32px;
    z-index: 2;

    .line {
      height: 4px;
      width: 50%;
      border-radius: 10px;
      background: #fff;

      &.line2 {
        width: 100%;
      }

      &.line3 {
        width: 75%;
      }
    }
  }

  &.dark-nav {

    .nav-link,
    .text-white-color {
      color: var(--text-dark-color);
    }

    .line {
      background-color: var(--bg-dark-color);
    }
  }

  .btn-solid-main {
    border: 2px solid var(--bg-main-color);
    background-color: var(--bg-main-color);
    color: var(--text-white-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 22px;
    display: inline-flex;
    padding: var(--spacing-md, 8px) var(--spacing-3xl, 24px);
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
  }

  .dropdown-menu {
    border-radius: 12px;
    padding: 0.9rem;

    .dropdown-item {
      padding: 0.5rem;
      border-radius: 9px;
      text-align: initial;
    }
  }
}