<div id="register" class="auth-form">
  <div class="d-flex justify-content-end mb-md-4 mb-2">
    <a class="lang-item">
      <language-selector></language-selector>
    </a>
  </div>
  <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
    <img src="assets/images/logo/logo.svg" class="form-logo mb-2 pointer" alt="logo" [routerLink]="['/']">
  </div>
  <div>
    <h1 class="fs-2 text-center mb-3">
      {{'auth.createNewAccount' | translate}}
    </h1>
  </div>
  <!-- Social -->
  <div class="row justify-content-center pt-sm-4 pt-2">
    <div class="col-lg-9 d-flex justify-content-center flex-wrap gap-3">
      <div class="box m-auto d-flex justify-content-center align-items-center flex-column gap-2"
        [routerLink]="'/Auth/Register-V1'">
        <img src="assets/images/auth/3.svg" alt="register">
        <p class="mb-0">{{'auth.educationalFunding'|translate}}</p>
      </div>
      <div class="box m-auto d-flex justify-content-center align-items-center flex-column gap-2">
        <img src="assets/images/auth/2.svg" alt="register">
        <p class="mb-0">{{'auth.educationalFacility'|translate}}</p>
      </div>
      <div class="box m-auto d-flex justify-content-center align-items-center flex-column gap-2">
        <img src="assets/images/auth/1.svg" alt="register">
        <p class="mb-0">{{'auth.educationalFinance'|translate}}</p>
      </div>
      <div class="mt-4 fs-8 d-flex justify-content-center align-items-center gap-1 flex-wrap text-center">
        <p class="mb-0 text-muted-color">
          {{'auth.haveAccount'|translate}}
        </p>
        <a class="text-main-color" [routerLink]="['/Auth/Login']">
          {{'auth.login'|translate}}
        </a>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
