:host::ng-deep {
  #review-slider {
    .p-carousel-item {
      font-family: "Almarai", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem 0;
    }
    .p-carousel-items-content {
      direction: ltr;
    }
    .p-carousel-container {
      position: relative;
      padding-bottom: 0rem;
      .p-carousel-next,
      .p-carousel-prev {
        position: absolute;
        bottom: 2px;
        background-color: var(--bg-main-color);
        color: var(--text-white-color);
        border-radius: 50%;
      }
      .p-disabled {
        background-color: transparent;
        color: var(--text-main-color);
      }
      .p-carousel-next {
        right: 0;
      }
      .p-carousel-prev {
        right: 3rem;
      }
    }
    .p-carousel-indicators {
      padding-bottom: 0;
      justify-content: start;
      button {
        background-color: #525252;
        height: 0.2rem;
        width: 1.7rem;
      }
      .p-highlight button {
        background-color: #fff;
        width: 1.8rem;
      }
    }
  }
  .ar-slider {
    .p-carousel-next,
    .p-carousel-prev {
      transform: scaleX(-1);
    }
    .review-card {
      direction: rtl;
    }
  }
}
